body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-weight: normal;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
}

.button-red {
  background-color: #ee3643;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:focus {
  background-color: #ba2732;
}

.button-green {
  background-color: #63a63e;
}

.button-green:hover {
  background-color: #5fbb2d;
}

.button-green:focus {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51)
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0.1);
}

.button-transparent:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-transparent:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.top-line-wrapper {
  display: flex;
}

.main-header {
  margin-bottom: 59px;
}

.inner-page .main-header {
  margin-bottom: 20px;
}

.top-line {
  background-color: #293449;
}

.main-header-logo {
  display: block;
  box-sizing: border-box;
  padding: 9px 55px;
  width: 220px;
  height: 42px;
  font-size: 24px;
  line-height: 24px;
  box-shadow: 0 5px #b52933;
}

.top-line form {
  width: 270px;
  height: 42px;
}

.search-field {
  position: relative;
  width: 270px;
  margin: 0;
}

.search-field svg {
  position: absolute;
  left: 17px;
  top: 12px;
}

.search-field svg path {
  fill: #ffffff;
  opacity: 0.3;
}

.search-field input[type="search"] {
  display: block;
  width: 270px;
  
  padding-left: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 0;

  font-size: 17px;
  line-height: 18px;
  color: #000000;
  
  background-color: #293449;
  border: none;
}


.search-field input[type="search"]::placeholder {
  color: #ffffff;
}

.search-field:hover input[type="search"] {
  background-color: #212a3a;
}

.search-field:hover svg path {
  opacity: 1;
}

.search-field input[type="search"]:focus {
  background-color: #ffffff;
  outline: none;
}

.search-field input[type="search"]:focus + svg path {
  fill: #ee3643;
  opacity: 1;
}

a.bookmarks, a.cart {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-left: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 150px;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: left;
}

a.bookmarks::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 17px;
  top: 12px;

  width: 14px;
  height: 16px;

  opacity: 0.3;
}

a.cart::before {
  content: "";
  position: absolute;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 18px;
  top: 12px;

  width: 14px;
  height: 16px;

  opacity: 0.3;
}

a.bookmarks:hover, a.cart:hover {
  background-color: #212a3a;
}

a.bookmarks:hover::before, a.cart:hover::before {
  opacity: 1;
}

a.bookmarks:focus, a.cart:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

a.bookmarks:focus::before, a.cart:focus::before {
  opacity: 0.5;
}

.background-red {
  background-color: #ee3643;
}

a.checkout {
  box-sizing: border-box;
  width: 150px;
  padding: 12px 21px;
  font-size: 17px;
  line-height: 18px;
  text-transform: none;
}

.header-navigation .title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.under-top-line {
  background-color: #f3f7f9;
}

.under-top-line .container {
  padding: 46px 0;
}

.middle-line {
  display: flex;
  margin-bottom: 43px;
}

.middle-line .title {
  margin: 0;
  padding: 0;
  width: 248px;
  margin-left: 53px;
}

.main-header-contacts{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 270px;
  margin-left: 20px;
}

.main-header-phone {
  position: relative;
  width: 270px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 72px;
  box-sizing: border-box;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  margin-bottom: 8px;
}

.main-header-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 13px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-address {
  font-size: 14px;
  line-height: 14px;
  color: #32425c;
  text-align: center;
}

.user-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  justify-content: flex-end;
}

.user-navigation .login-link {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 121px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;
  background-color: #ffffff;
}

.user-navigation .login-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation .registration-link {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 150px;
  margin-left: 10px;
  background-color: #ffffff;
  text-align: center;
}

.user-navigation li a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.user-navigation li a:hover {
  color: #ee3643;
}

.user-navigation .login-link:hover::before {
  opacity: 1;
}

.user-navigation li a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .login-link:focus::before {
  opacity: 0.3;
}

.user-account-block {
  margin-left: auto;
  width: 300px;
}

.user-name {
  position: relative;
  display: block;
  color: #000000;
  font-size: 21px;
  line-height: 21px;

  padding: 12px 48px;
}

.user-info {
  position: relative;
  background-color: #ffffff;
}

.user-logout:hover {
  opacity: 1;
}

.user-logout:focus {
  opacity: 0.3;
}

.user-name:hover::before,
.user-name:hover {
  color: #ee3643;
  opacity: 1;
}

.user-name:focus::before,
.user-name:focus {
  color: #000000;
  opacity: 0.3;
}

.user-name::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-logout {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 40px;
  height: 45px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.3;

  z-index: 2;
}

.user-account-navigation {
  list-style: none;
  display: flex;
  padding-left: 17px;
}

.user-account-navigation li:first-child {
  position: relative;
  margin-right: 30px;
}

.user-account-navigation li:first-child::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;

  width: 4px;
  height: 4px;
  border-radius: 50%;

  background-color: #32425c;
}

.user-account-navigation li a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-account-navigation li a:hover {
  color: #ee3643;
}

.user-account-navigation li a:focus {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  width: 940px;
  margin: 0;
  padding: 0;
  flex-basis: 100%;
  list-style: none;
  display: flex;
}

.site-navigation li {
  flex-grow: 1;
}


.site-navigation li a {
  display: block;
  box-sizing: border-box;
  padding-top: 19px;
  padding-bottom: 24px;
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;  
}

.site-navigation li:first-child a {
  padding-left: 18px;
}

.site-navigation li:last-child a {
  padding-right: 23px;
}

.site-navigation li a:hover {
  background-color: #293449;
}

.site-navigation li a:focus {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.promo-block {
  display: flex;
  flex-flow: wrap;
  flex-basis: 100%;
  justify-content: space-between;
  margin-bottom: 53px;
}


.promo-block-item {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-flow: column;
  width: 300px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 23px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.promo-block-item::after {
  content: "";
  position: absolute;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-block .material {
  background-color: #ffbf47;
}

.promo-block .material::after {
  background-image: url("../img/icon-1.svg");
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
}

.promo-block .tool {
  background-color: #3bbce3;
}

.promo-block .tool::after {
  background-image: url("../img/icon-2.svg");
  width: 75px;
  height: 61px;
  top: 33px;
  right: 28px;
}

.promo-block .mechanism {
  background-color: #dc91d8;
}

.promo-block .mechanism::after {
  background-image: url("../img/icon-3.svg");
  width: 79px;
  height: 62px;
  top: 31px;
  right: 31px;
}

.second-row-wrap  {
  flex-basis: 100%;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
}

.promo-block .discount {
  background-color: #8ed78f;
}

.promo-block .discount::after {
  background-image: url("../img/icon-4.svg");
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
}

.promo-block .delivery {
  background-color: #ffc047;
  margin-bottom: 0;
}

.promo-block .delivery::after {
  background-image: url("../img/icon-5.svg");
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
}

.slider-wrapper {
  position: relative;
  width: 620px;
}

.promo-block-slider {
  position: absolute;
  width: 620px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.js-higher {
  z-index: 2;
}

.js-lower {
  z-index: 1;
}

.promo-block-slider p{
  position: absolute;
  top: 22px;
  left: 24px;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: regular;
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.promo-block-slider span {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.promo-block-slider::before,
.promo-block-slider::after {
  content: "";
  position: absolute;
  bottom: 36px;
  left: 295px;
  box-sizing: border-box;

  width: 10px;
  height: 10px;
  border-radius: 10px;
  background-color: #ffffff;

  cursor: pointer;
}

.promo-block-slider::after {
  left: 315px;
}

.promo-block-slider.first::before {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

.promo-block-slider.second::after {
  background-color: #ee3643;
  border: 2px solid #ffffff;
}

.slider-wrapper .button {
  position: absolute;
  box-sizing: border-box;
  left: 24px;
  bottom: 22px;
  z-index: 10;
  padding: 10px 47px;
  white-space: nowrap;
  border-radius: 3px;
}

.prev-slider-button,
.next-slider-button {
  position: absolute;
  top: 114px;
  z-index: 10;

  width: 22px;
  height: 40px;

  background-image: url("../img/icon-left.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  cursor: pointer;
}

.prev-slider-button {
  left: 24px;
}

.next-slider-button {
  right: 24px;
  transform: rotate(180deg);
}

.promo-block .button-transparent {
  width: 135px;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
}

.popular-title {
  background-color: #f9f5f0;
  display: flex;
  justify-content: space-between;
  padding: 25px 24px 26px 28px;
  align-items: center;
  margin-bottom: 20px;
}

.popular-title h2 {
  margin: 0;
  padding: 0;
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.popular-title a {
  box-sizing: border-box;
  width: 253px;
  padding-top:10px;
  padding-bottom: 10px;
  white-space: nowrap;
  border-radius: 3px;
}

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;

  box-sizing: border-box;
  padding: 20px;
  width: 220px;
}

.catalog-item.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-list h3 {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.catalog-list img {
  order: -1;

  margin-bottom: 40px;

  width: 180px;
  height: 120px;
}

.catalog-list a {
  font-size: 14px;
  line-height: 18px;
}

.catalog-list .button-green {
  box-shadow: inset 0 -3px #367315;
  margin-top: 25px;
  margin-bottom: 7px;
}

.catalog-list .button-green:focus {
  box-shadow: none;
  color: #ffffff;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
  margin: 0;
  margin-bottom: 12px;
}

.button-right {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  box-sizing: border-box;

  margin-top: auto;

  padding: 10px 40px 10px 37px;

  background-color: #ee3643;
  background: linear-gradient(-45deg, transparent 13px, #ee3643 0) bottom right,
              linear-gradient(-135deg, transparent 13px, #ee3643 0) top right;
  background-size: 100% 51%;
  background-repeat: no-repeat;
}

.catalog-item-buy {
  display: none;
  position: absolute;
  top: 20px;

  width: 180px;
  height: 120px;

  background-color: #ffffff;
  
}

.catalog-item-buy a {
  display: block;
  box-sizing: border-box;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.catalog-item-buy .button-green {
  position: relative;
}

.catalog-item-buy .button-green::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  opacity: 0.3;
}

.catalog-item-buy .button-green:hover::before,
.catalog-item-buy .button-green:focus::before {
  opacity: 1;
}

.button-bookmark {
  color: #32425c;
  border: 3px solid #63a63e;
}

.button-bookmark:hover {
  border: 3px solid #32425c;
}

.button-bookmark:focus {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.catalog-list .catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-list .catalog-item:hover {
  border:none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.catalog-item:hover .catalog-item-buy {
  display: block;
}

.brands-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 65px;
}

.brands-item {
  width: 220px;
  height: 145px;
  border: 1px solid #eaeaea;
  text-align: center;
  margin-bottom: 20px;
}

.brands-item:hover {
  border: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;  
}

.brands-item a:focus {
  border: none;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brands-item a:focus img {
  opacity: 0.3;
}

.service {
  background-color: #f4f8f9;
  padding: 65px 0 102px;
}

.service h2 {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

p.service-slogan {
  margin: 0;
  margin-bottom: 68px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-container {
  display: flex;
}

.service-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-list::after {
  content: "";
  position: absolute;
  top: -45px;
  right: 0;

  width: 10px;
  height: 272px;

  background-image: url("../img/service-shadow.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.service-item {
  box-sizing: border-box;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;
  width: 240px;

  background-color: #32425c;
  box-shadow: 0 1px #293449;
}

.service-item a {
  display: block;
}

.service-item h3 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
}

.service-item:hover {
  background-color: #293449;
  box-shadow: 0 1px #293449;
}

.service-item.active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px #ffffff;
}

.service-item.active h3,
.service-item.active a:hover h3 {
  color: #000;
  background-color: #fff;

}

.service-item-container {
  position: relative;
  width: 700px;
  padding-left: 80px;
  padding-right: 240px;
}

.service-item-block {
  position: absolute;
  top: 0;
  bottom: -102px;
  right: -10px;
  left: 80px;
  background-color: #F4F8F9;
}

.service-item-block::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  background-position: 0 0;
  background-repeat: no-repeat;
  
}

.service-item-block.delivery::after {
  height: 261px;
  width: 470px;

  right: 10px;

  background-image: url("../img/delivery-truck.png");
}

.service-item-block.guarantee::after {
  height: 283px;
  width: 390px;

  background-image: url("../img/guarantee.png");
}

.service-item-block.credit a {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 44px;
}

.service-item-block.credit::after {
  height: 285px;
  width: 470px;

  background-image: url("../img/credit.png");
}

.service-item-block-title {
  display: block;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.service-item-content {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.layout-columns {
  padding: 80px 0 86px;
  display: flex;
  justify-content: space-between;
}

.about {
  width: 540px;
}

.about h2 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about p {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.carrier-list {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
  list-style: none;
}

.carrier-item {
  position: relative;
  margin-bottom: 22px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.carrier-item::before {
  content: "";
  position: absolute;

  left: 0;
  top: 50%;

  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.about a {
  display: block;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.contacts {
  width: 300px;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts p {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.contacts a.map {
  display: block;
  width: 300px;
  margin-bottom: 40px;
}

.contacts a.button {
  display: block;
  width: 300px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-columns {
  display: flex;
  padding-bottom: 50px;
}

.main-footer-top {
  background-color: #32425c;
}

.footer-column-first {
  width: 380px;
}

.main-footer-logo {
  display: block;
  width: 220px;
  margin: 0 0 25px;
  padding-top: 17px;
  padding-bottom: 22px;
  font-size: 30px;
  line-height: 30px;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.main-footer-contacts {
  margin: 0;
  padding: 0;
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-navigation {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: flex-start; 
  align-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-basis: 560px;
  margin-left: auto;
}

.main-footer-navigation li {
  margin-top: 35px;
}

.main-footer-navigation li a {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #ffda96;
}

.main-footer-navigation li:nth-child(odd) a {
  color: #f3f7f9;
  margin-right: 60px;
}

.main-footer-navigation li:last-child a {
  margin-right: 0;
}

.main-footer-navigation li:nth-child(even) {
  order: 1;
  margin-left: 60px;
}

.main-footer-navigation li:nth-child(2) {
  margin-left: 0;
}

.main-footer-navigation li a:hover {
  text-decoration: underline;
}

.main-footer-navigation li a:focus {
  opacity: 0.5;
}

.main-footer-bottom {
  background-color: #293449;
}

.footer-bottom-columns {
  display: flex;
  justify-content: space-between;
  padding: 35px 0 31px;
}

.main-footer-copyright {
  width: 240px;
  margin: 0;
  margin-right: 140px;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.main-footer-social {
  width: 160px;
  margin: 0;
  margin-right: 117px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.main-footer-social a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #212a3a;
  font-size: 16px;
  line-height: 18px;
}

.main-footer-social a.vk {
  background-image: url("../img/vk-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-footer-social a.fb {
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-footer-social a.insta {
  background-image: url("../img/insta-icon.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.main-footer-social a:hover,
.main-footer-social a:focus {
  background-color: #ee3643;
}

.main-footer-feedback,
.main-footer-developer {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
}

.main-footer-developer {
  margin-left: auto;
}


.main-footer-feedback a,
.main-footer-developer a {
  color: #ffda96;
}

.main-footer-feedback a:hover,
.main-footer-developer a:hover {
  text-decoration: underline;
}

.main-footer-feedback a:focus,
.main-footer-developer a:focus {
  color: #ee3643;
  text-decoration: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  display: none;

  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 20;
  background-color: #fff;
}

.show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;

  width: 21px;
  height: 21px;

  border: 0;

  background-color: transparent;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -4px;
  z-index: 10;

  width: 29px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-map {
  width: 940px;
  height: 446px;

  margin-left: -470px;
  margin-top: -223px;

  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal p {
  margin: 0;
  padding: 0;
}

.modal-write-us {
  box-sizing: border-box;
  width: 620px;
  height: 430px;

  margin-left: -310px;
  margin-top: -215px;

  border-top: 2px solid #ee3643;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.form-wrapper {
  margin: 45px 80px 37px;
  flex: 1;
}

.write-us-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.form-column {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 22px;
}

.form-column p {
  width: 220px;
}

.write-us-form label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  display: block;
}

.write-us-form input[type="text"]::placeholder,
.write-us-form input[type="email"]::placeholder,
.write-us-form textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
  box-sizing: border-box;
  border: 2px solid #dee3e4;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"] {
  width: 220px;
  padding-bottom: 8px;
}

.write-us-form textarea {
  resize: none;
  width: 100%;
  height: 114px;
}

.write-us-button {
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.write-us-button button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  border: none;
  cursor: pointer;
}

.modal-add-cart {
  box-sizing: border-box;
  width: 620px;
  height: 282px;

  margin-left: -310px;
  margin-top: -141px;
  
  border-top: 6px solid #ee3643;
  box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);

  color: #000000;
}

.add-cart-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.modal-add-cart h2 {
  position: relative;
  margin: 66px 125px 66px 180px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}

.modal-add-cart h2::before {
  content: "";
  position: absolute;
  left: -98px;
  top: -18px;

  width: 66px;
  height: 66px;

  background-image: url("../img/form-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-add-cart .modal-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-color: #f1f1f1;
}

.modal-add-cart a {
  width: 220px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal-add-cart .button-continue {
  box-sizing: border-box;
  color: #000000;
  background-color: #fff;
  margin-left: 20px;
}

.modal-add-cart .button-continue:hover {
  border: 1px solid #ee3643;
}

.modal-add-cart .button-continue:focus {
  border: 1px solid #ee3643;
  color: rgba(0, 0, 0, 0.4);
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs li {
  position: relative;

  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  margin-right: 40px;
}

.breadcrumbs li:first-child {
  font-size: 0;

  width: 14px;
  height: 18px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 50%;

  cursor: pointer;
}

.breadcrumbs li:not(:first-child)::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 3px;

  width: 6px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  display: block;
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 30px;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #f2f6f8;
}

.layout-columns-filter {
  display: flex;
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filters-title {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  padding-left: 19px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #f7f3ec;
}

.price-filter,
.maker-filter,
.supply-filter {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.price-filter legend,
.maker-filter legend,
.supply-filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;

  margin-bottom: 12px;
}

.price-slider-block {
  width: 100%;
  height: 80px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.price-slider-bar {
  position: relative;

  width: 180px;
  height: 2px;

  background-color: #00ca74;
 
  margin: 0 auto;
  transform: translateY(39px);
}

.price-slider-handle-left,
.price-slider-handle-right {
  position: absolute;
  top: -9px;

  width: 20px;
  height: 22px;

  background-image: url("../img/filter-button.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.price-slider-handle-right {
  left: 140px;
}

.price-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.price-wrapper::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 105px;

  width: 10px;
  height: 1px;
  background-color: #000000;
}

.price-filter input {
  background-color: #f7f3ec;
  border: none;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  outline: none;

  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.maker-filter ul,
.supply-filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.maker-filter .filter-option,
.supply-filter .filter-option {
  position: relative;
  margin-bottom: 23px;
}

.filter-option:last-child {
  margin-bottom: 0;
}

.maker-filter label::before,
.supply-filter label::before {
  content: "";
  position: absolute;

  left: 0;
  top: -1px;

  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.maker-filter label::before {
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
}

.maker-filter input:checked + label::before {
  width: 26px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
}

.supply-filter label::before {
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
}

.supply-filter input:checked + label::before {
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
}

.maker-filter label,
.supply-filter label {
  position: relative;
  padding-left: 35px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.maker-filter input:disabled + label,
.supply-filter input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.maker-filter input:disabled + label::before,
.supply-filter input:disabled + label::before {
  opacity: 0.2;
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;

  box-sizing: border-box;
  width: 140px;
  padding-top: 9px;
  padding-bottom: 9px;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.layout-right-column {
  width: 700px;
}

.sorting {
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 19px;
  padding-right: 17px;
  background-color: #f7f3ec;
  display: flex;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.sorting-title {
  margin: 0;
  margin-right: 140px;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.sorting-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-basis: 354px;
  justify-content: space-between;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted;
  text-decoration-color: rgba(238, 54, 67, 0.3);
}

.sorting a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
  text-decoration-color: rgba(238, 54, 67, 1);
}

.sorting li.active a {
  color: rgb(238, 54, 67);
  text-decoration: none;
}

.sorting-order {
  position: relative;
  margin-left: auto;
  width: 43px;
  display: flex;
  justify-content: space-between;
}

.sorting-order a {
  width: 11px;
  height: 10px;
}

.sorting-order polygon,
.sorting-order polyline {
  fill: #c5c5c5;
}

.sorting-order a:hover polygon,
.sorting-order a:hover polyline {
  fill: #221e1f;
}

.sorting-order a.active polygon,
.sorting-order a.active polyline {
  fill: #ee3643;
}

.inner-page .catalog-list {
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.inner-page .catalog-item {
  margin-bottom: 20px;
}

.pagination-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
  display: flex;
}

.pagination-list li:not(:first-child) {
  margin-left: 10px;
}

.pagination-list .pagination-item {
  box-sizing: border-box;
  width: 38px;
}

.pagination-list .pagination-item-previous,
.pagination-list .pagination-item-next {
  width: 140px;
}

.pagination-list a {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list a:focus {
  border: 1px solid #ee3643;
}

.pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-about {
  background-color: #f2f6f8;
  color: #000000;
  padding: 68px 0;
}

.catalog-about h2 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-about p {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}