body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  font-weight: normal;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.button-red {
  background-color: #ee3643;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:focus {
  background-color: #ba2732;
}

.button-green {
  background-color: #63a63e;
}

.button-green:hover {
  background-color: #5fbb2d;
}

.button-green:focus {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51)
}

.button-transparent {
  background-color: rgba(0, 0, 0, 0.1);
}

.button-transparent:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-transparent:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.top-line {
  background-color: #293449;
}

.main-header-logo {
  font-size: 24px;
  line-height: 24px;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.search-field input[type="search"] {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  
  background-color: #293449;
  border: none;
}

.search-field input[type="search"]::placeholder {
  color: #ffffff;
}

.search-field input[type="search"]:hover {
  background-color: #212a3a;
}

.search-field input[type="search"]:focus {
  background-color: #ffffff;
  outline: none;
}

a.bookmarks, a.cart {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
}

a.bookmarks:hover, a.cart:hover {
  background-color: #212a3a;
}

a.bookmarks:focus, a.cart:focus {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

a.checkout {
  font-size: 17px;
  line-height: 18px;
  text-transform: none;
}

.header-navigation .title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.under-top-line {
  background-color: #f3f7f9;
}

.main-header-contacts{
  list-style: none;
}

.main-header-phone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
  text-align: center;
}

.main-header-address {
  font-size: 14px;
  line-height: 14px;
  color: #32425c;
  text-align: center;
}

.user-navigation {
  list-style: none;
}

.user-navigation li a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation li a:hover {
  color: #ee3643;
}

.user-navigation li a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-name {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
}

.user-info {
  background-color: #ffffff;
}

.user-info:focus {
  color: rgba(0, 0, 0, 0.3);
}

.user-account-navigation {
  list-style: none;
}

.user-account-navigation li a {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  text-decoration: underline;
}

.user-account-navigation li a:hover {
  color: #ee3643;
}

.user-account-navigation li a:focus {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  list-style: none;
}

.site-navigation li a {
  color: #ffffff;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  background-color: #32425c;
  box-shadow: inset 0 -5px #293449;  
}

.site-navigation li a:hover {
  background-color: #293449;
}

.site-navigation li a:focus {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.promo-block-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.material {
  background-color: #ffbf47;
}

.tool {
  background-color: #3bbce3;
}

.mechanism {
  background-color: #dc91d8;
}

.discount {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

.promo-block-slider p{
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  background-color: rgba(0, 0, 0, 0.25);
}

.promo-block-slider span {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.popular-title {
  background-color: #f9f5f0;
}

.popular-title h2 {
  color: #32425c;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
}

.catalog-list {
  list-style: none;
}

.catalog-list h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.catalog-list a {
  font-size: 14px;
  line-height: 18px;
}

.catalog-list .button-green {
  box-shadow: inset 0 -3px #367315;
}

.catalog-list .button-green:focus {
  box-shadow: none;
  color: #ffffff;
}

.old-price {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  text-align: center;
}

.button-right {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #ee3643;
}

.button-bookmark {
  color: #32425c;
  border: 3px solid #63a63e;
}

.button-bookmark:hover {
  border: 3px solid #32425c;
}

.button-bookmark:focus {
  color: rgba(50, 66, 92, 0.3);
  border: 3px solid rgba(50, 66, 92, 0.3);
}

.catalog-list .catalog-item {
  border: 1px solid #e5e5e5;
}

.catalog-list .catalog-item:hover {
  border:none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-list {
  list-style: none;
}

.brands-item {
  border: 1px solid #eaeaea;
  text-align: center;
}

.brands-item:hover {
  border: none;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.brands-item a:focus {
  border: none;
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.brands-item a:focus img {
  opacity: 0.3;
}

.service {
  background-color: #f4f8f9;
}

.service h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

p.service-slogan {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-list {
  list-style: none;
}

.service-item a h3 {
  background-color: #32425c;
  color: #ffffff;
  font-size: 21px;
  line-height: 30px;
  box-shadow: 0 1px #293449;
}

.service-item.active a h3,
.service-item.active a:hover h3 {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: 0 1px #ffffff;

}

.service-item a:hover h3 {
  background-color: #293449;
  box-shadow: 0 1px #293449;
}

.service-item-block-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.service-item-content {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.about h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.about p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.carrier-list {
  list-style: none;
}

.carrier-item {
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts p {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.main-footer-top {
  background-color: #32425c;
}

.main-footer-logo {
  font-size: 30px;
  line-height: 30px;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.24);
}

.main-footer-contacts {
  color: #f3f7f9;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-navigation {
  list-style: none;
}

.main-footer-navigation li a {
  font-size: 18px;
  line-height: 24px;
  color: #ffda96;
}

.main-footer-navigation li:nth-child(odd) a {
  color: #f3f7f9;
}

.main-footer-navigation li a:hover {
  text-decoration: underline;
}

.main-footer-navigation li a:focus {
  opacity: 0.5;
}

.main-footer-bottom {
  background-color: #293449;
}

.main-footer-copyright {
  font-size: 16px;
  line-height: 18px;
}

.main-footer-social {
  list-style: none;
}

.main-footer-social a {
  color: #ffffff;
  background-color: #212a3a;
  font-size: 16px;
  line-height: 18px;
}

.main-footer-social a:hover,
.main-footer-social a:focus {
  background-color: #ee3643;
}

.main-footer-feedback,
.main-footer-developer {
  font-size: 16px;
  line-height: 18px;
}

.main-footer-feedback a,
.main-footer-developer a {
  color: #ffda96;
}

.main-footer-feedback a:hover,
.main-footer-developer a:hover {
  text-decoration: underline;
}

.main-footer-feedback a:focus,
.main-footer-developer a:focus {
  color: #ee3643;
  text-decoration: none;
}

.modal-map img {
  box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-write-us {
  border-top: 2px solid #ee3643;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75);
}

.write-us-form label {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
}

.write-us-form input[type="text"]::placeholder,
.write-us-form input[type="email"]::placeholder,
.write-us-form textarea::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #a9a9a9;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
  border: 2px solid #dee3e4;
}

.write-us-button {
  background-color: #f4f4f4;
}

.write-us-button button {
  outline: none;
  border: none;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs li {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.page-title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #f2f6f8;
}

.filters-title {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;

  background-color: #f7f3ec;
}

.price-filter,
.maker-filter,
.supply-filter {
  border: none;
}

.price-filter legend,
.maker-filter legend,
.supply-filter legend {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
}

.price-slider-block {
  background-color: #f7f3ec;
}

.price-filter input {
  background-color: #f7f3ec;
  border: none;
  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  outline: none;
}

.maker-filter ul,
.supply-filter ul {
  list-style: none;
}

.maker-filter label,
.supply-filter label {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.maker-filter input:disabled + label,
.supply-filter input:disabled + label {
  color: rgba(0, 0, 0, 0.4);
}

.filter-button {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;

  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.sorting {
  background-color: #f7f3ec;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  font-weight: normal;
}

.sorting-list {
  list-style: none;
}

.sorting a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-color: rgba(238, 54, 67, 0.3);
}

.sorting a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: underline;
  text-decoration-color: rgba(238, 54, 67, 1);
}

.sorting li.active a {
  color: rgb(238, 54, 67);
  text-decoration: none;
}

.pagination-list {
  list-style: none;
}
.pagination-list a {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  border: 1px solid #e5e5e5;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.pagination-list a:hover {
  border: 1px solid #bdc6ca;
}

.pagination-list a:focus {
  border: 1px solid #ee3643;
}

.pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.modal-add-cart {
  border-top: 2px solid #ee3643;
  box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);

  color: #000000;
  font-size: 30px;
  line-height: 30px;
}

.modal-bottom {
  background-color: #f1f1f1;
}

.button-continue {
  color: #000000;
  background-color: #fff;
}